<%- include('partials/header', {css_file: 'about'}); %>  

  <br>
  
  <section class="about">
    <div class="container mt-5">
      <h1 class="topic">サイトについて</h1>
      <div class="part1">
        <br>
        資格を取りたい人、参考書を安くもらえる人、資格を取ったら参考書の処分に困っているECCの人々にも役に立つになります。
        <br>
        中古参考書販売サイトに登録して、すぐほかの学生販売しているものの資料を手に入る。
        <br>
        ゲームみたいな界面でより便利な操作ができるし、一般的な販売サイトより面白いと考えています。販売の機能以外、資格の情報とブロック機能も附いています。参考書を処分したい人に対して、サイトに資料を登録して、要らない参考書を簡単に売れます。
        <br>
      </div>
      <br>
      <div class="part2">
        <br>
        <h4>＜ターゲット＞</h4>
        <br>
        資格を取りたい人、参考書を安くもらえる人、資格を取ったら参考書の処分に困っているECCの人
      </div>
      <div class="part3">
        <br>
        <h4>＜機能一覧＞</h4>
        <br>
        ・売りたい中古参考書を登録する機能。
        <br>
        ・買いたい中古参考書を探す機能。
        <br>
        ・資格の情報（試験日、料金、難易度など）参考する機能。
        <br>
        ・資格のおすすめ機能
      </div>
    </div>
  </section>


<%- include('partials/footer'); %>  