
  #topic{
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    margin-bottom: 25px;
  }


  
  label {
    font-size: 30px;
    color: white;
  }

  
  .form-control {
    height: 60px;
    background-color: black;
    border-color: gray;
    color: white;
  }

  .send {
    background-color: #e3170d;
    color: white;
    float: right;
  }

  
  .ta{
    height: 400px;
    font-size: 2rem;
  }

  .left{
      overflow: auto;
      padding: 10px;
      padding-right: 30px;
      height: 580px;
      margin-right: 40px;
  }

  .who{
    font-size: 20px;
  }

  .message{
      font-size: 36px;
      padding: 10px;
  }


  .msg_area{
    display: grid;
  }

  .date{
    /* float: right; */
      font-size: 13px;
  }
  