@import url('http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    background:  #1c0522;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo{
    color: #fff;
    font-weight: none;
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover ,
header ul li a.active
{
    background: #fff;
    color: #2b1055;
}

#text{
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 3vw;
    z-index: 9;
}

.sec{
    position: relative;
    padding: 270px;
    background: #1c0522;
}
.sec h2{
    font-size: 7em;
    margin-bottom: 10px;
    color:#fff
    
}
#msg{
    font-size: 1.3em;
    margin-bottom: 3px;
    color:#fff
}
input[type=email] {
    font-size: 2em;
    background-color: #1c0522;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 2px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #ECF0F5;
}
input[type=text] {
    font-size: 2em;
    background-color: #1c0522;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 2px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #ECF0F5;
}

input[type=password] {
    font-size: 2em;
    background-color: #1c0522;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 2px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ECF0F5;
}
.btn{
    font-size: 1.5em;
    margin-bottom: 50px;
}
